<script setup lang="ts">
import axios from 'axios'
import { computed, ref } from 'vue'

const errorMessage = ref<string>()
const resMessage = ref<number>()
const fishData = ref({
  Species: -1,
  Length1: 0.0,
  Length2: 0.0,
  Length3: 0.0,
  Height: 0.0,
  Width: 0.0
})

const predictFishWeight = async () => {
  try {
    const response = await axios.post('http://localhost:8000/fishweight/', fishData.value)
    console.log('Predicted fish weight: ', response.data)
    errorMessage.value = ''

    resMessage.value = response.data.Weight
  } catch (error) {
    console.error('Error predicting fish weight:', error)
  }
}
const formattedWeight = computed(() => {
  if (typeof resMessage.value === 'number') {
    const absoluteWeight = Math.abs(resMessage.value)
    const weight = absoluteWeight.toFixed(2)
    return `${weight} grams`
  } else {
    return ''
  }
})
</script>

<template>
  <v-container fluid style="background: url('fish.jpg')" class="mt-0">
    <div class="container">
      <h1 class="title" style="color: #312e81">Fish Weight Prediction</h1>
      <div class="form">
        <div class="form-group">
          <label for="species">Species:</label>
          <select id="species" v-model="fishData.Species">
            <option value="-1">Select a species</option>
            <option value="0">Bream</option>
            <option value="1">Parkki</option>
            <option value="2">Pearch</option>
            <option value="3">Pike</option>
            <option value="4">Roach</option>
            <option value="5">Smelt</option>
            <option value="6">Whitefish</option>
          </select>
        </div>
        <div class="form-group">
          <label for="length1">Length 1 (cm):</label>
          <input
            type="number"
            id="length1"
            v-model="fishData.Length1"
            min="10"
            max="40"
            step="0.1"
            required
          />
        </div>
        <div class="form-group">
          <label for="length2">Length 2 (cm):</label>
          <input
            type="number"
            id="length2"
            v-model="fishData.Length2"
            min="10"
            max="40"
            step="0.1"
            required
          />
        </div>
        <div class="form-group">
          <label for="length3">Length 3 (cm):</label>
          <input
            type="number"
            id="length3"
            v-model="fishData.Length3"
            min="10"
            max="40"
            step="0.1"
            required
          />
        </div>
        <div class="form-group">
          <label for="height">Height (cm):</label>
          <input
            type="number"
            id="height"
            v-model="fishData.Height"
            min="5"
            max="20"
            step="0.01"
            required
          />
        </div>
        <div class="form-group">
          <label for="width">Width (cm):</label>
          <input
            type="number"
            id="width"
            v-model="fishData.Width"
            min="2"
            max="10"
            step="0.01"
            required
          />
        </div>
      </div>
      <button @click="predictFishWeight" class="predict-button">Predict Weight</button>
      <transition name="fade">
        <div v-if="resMessage !== null" class="result">
          <h2>Predicted Weight:</h2>
          <p class="weight">{{ formattedWeight }}</p>
        </div>
      </transition>
    </div>
  </v-container>
</template>
<style scoped>
html,
body {
  background-color: #082f49;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 2px solid #312e81;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.title {
  text-align: center;
  color: #312e81;
  margin-bottom: 20px;
}

/* ... (rest of your existing styles) ... */

.result {
  text-align: center;
  padding: 20px;
  background-color: #fff; /* Adjust background color as needed */
  color: #312e81;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

label {
  font-weight: bold;
  display: block;
}

input,
select {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button.predict-button {
  padding: 12px 24px;
  background-color: #7dd3fc;
  color: #082f49;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-bottom: 20px;
}

button.predict-button:hover {
  background-color: #0056b3;
}

.result {
  text-align: center;
  padding: 20px;
  background-color: #7dd3fc;
  color: #082f49;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result h2 {
  margin-bottom: 10px;
}

.result p.weight {
  font-size: 24px;
  border: 2px solid #082f49;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0;
}
</style>
